.about-container {
    height: 60vh;
    background-color: var(--main-color);
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem 20vh;
    flex-direction: column;
}

.about-h1 {
    font-weight: 200;
    font-size: 2rem;
}

.about-p {
    padding: 0;

}