.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    padding-top: 8rem;
    background-image: url(../images/plant-background3-scaled.jpg);
    background-size: 110vw;
    background-repeat: no-repeat;
    background-position: center;
}

.logo-img {
   width: 25vw;
   min-width: 200px;
   max-width: 280px;
   margin-bottom: 1rem;
}

.hero-h1 {
    font-size: 1rem;
    font-weight: 200;
    margin-top: 0;
    margin-bottom: 2rem;
}

.book-button {
    border: 2px solid var(--main-color);
    color: var(--main-color);
    padding: 0.7rem 1.5rem;
    text-align: center;
    cursor: pointer;
    margin-bottom: 9em;
    transition: all ease 0.2s;
}

.book-button:hover {
    background-color: var(--main-color);
    color: #ffffff;
}

.arrow {
    display: none;
}

@media screen and (max-width: 700px) {

    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 100vh;
        padding-top: 8rem;
        background-image: none;
    }
}


@media screen and (max-width: 501px) {
    .container {
        padding-top: 0;
        margin: -10px;
    }

    .logo-img {
        margin-bottom: 1.3rem;
        min-width: 0;
        max-width: 500;
        width: 65vw;
     }

     .hero-h1 {
        font-size: 1.4rem;
    } 

    .book-button {
        background-color: var(--main-color);
        color: #ffffff;
        margin: 5em 0 0 0;
        width: 75vw;
        min-height: auto;
        font-size: 1.1rem;
        font-weight: 600;
        padding: 1rem 1.8rem;
    }
    .arrow {
        display: block;
        margin-top: 4em;
        width: 2.2em;
        height: 2.2em;
        transform: rotate(45deg);
        border-right: 2px solid #000000;
        border-bottom: 2px solid #000000;
        animation: pulse 3s infinite linear;
    }
    
    @keyframes pulse {
        0% {
            transform: rotate(45deg) scale(0.8);
        }
        
        50% {
            transform: rotate(45deg) scale(1);
        }
        
        100% {
            transform: rotate(45deg) scale(0.8);
        }
    }

}
